In [1]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import ForeignKey
Base = declarative_base()
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, Column, Integer, String, Float, MetaData
import pandas as pd

In [2]:
engine = create_engine("sqlite:///movie_ratings_and_revenue_db.sqlite", echo=False)
connection = engine.connect()
meta = MetaData()

In [3]:
# Need to use declarative base
Base = declarative_base()

In [8]:
#Movie class
class Movie(Base):
    __tablename__ = 'movie'
    id = Column(Integer, primary_key=True)
    title = Column(String)
    content_rating = Column(String)
    year = Column(Integer)
    runtime = Column(Float)

C:\Users\andre\Anaconda3\lib\site-packages\sqlalchemy\ext\declarative\clsregistry.py:120: SAWarning: This declarative base already contains a class with the same class name and module name as __main__.Movie, and will be replaced in the string-lookup table.
  item.__name__

InvalidRequestError: Table 'movie' is already defined for this MetaData instance.  Specify 'extend_existing=True' to redefine options and columns on an existing Table object.

In [9]:
#Financial Class
class Financial(Base):
    __tablename__ = 'financial'
    id = Column(Integer, ForeignKey("movie.id"), primary_key = True, nullable=False)
    budget = Column(Float)
    gross = Column(Float)
    profit = gross - budget

C:\Users\andre\Anaconda3\lib\site-packages\sqlalchemy\ext\declarative\clsregistry.py:120: SAWarning: This declarative base already contains a class with the same class name and module name as __main__.Financial, and will be replaced in the string-lookup table.
  item.__name__

InvalidRequestError: Table 'financial' is already defined for this MetaData instance.  Specify 'extend_existing=True' to redefine options and columns on an existing Table object.

In [6]:
#Review Info
class Reviews(Base):
    __tablename__ = 'reviews'
    id = Column(Integer, ForeignKey("movie.id"), primary_key = True, nullable=False)
    imdb_score = Column(Float)
    imdb_reviewers = Column(Integer)
    imdb_voters = Column(Integer)
    indb_user_reviewers = Column(Integer)
    top_list_rating = Column(Float)
    top_list_votes = Column(Integer)

In [7]:
#Social Media Info
class SocialMedia(Base):
    __tablename__ = 'social_media'
    id = Column(Integer, ForeignKey("movie.id"), primary_key = True, nullable=False)
    movie_likes = Column(Integer)
    director_likes = Column(Integer)
    cast_likes = Column(Integer)
    actor1_likes = Column(Integer)
    actor2_likes = Column(Integer)
    actor3_likes = Column(Integer)

In [10]:
#Social Media Info
class Actor(Base):
    __tablename__ = 'actor'
    id = Column(Integer, primary_key = True, nullable=False)
    actor_name = Column(String)

In [11]:
#Actor-film Info
class Actor_Movie(Base):
    __tablename__ = 'actor_movie'
    id = Column(Integer, primary_key = True, nullable=False)
    actor_id = Column(Integer, ForeignKey("actor.id"), nullable=False)
    movie_id = Column(Integer, ForeignKey("movie.id"), nullable=False)

In [12]:
#Genre Info
class Genre(Base):
    __tablename__ = 'genre'
    id = Column(Integer, primary_key = True, nullable=False)
    genre_name = Column(String)

In [13]:
#Genre-film Info
class Genre_Movie(Base):
    __tablename__ = 'genre_movie'
    id = Column(Integer, primary_key = True, nullable=False)
    genre_id = Column(Integer, ForeignKey("actor.id"), nullable=False)
    movie_id = Column(Integer, ForeignKey("movie.id"), nullable=False)

In [14]:
# This is where we create our tables in the database
Base.metadata.create_all(engine)

In [15]:
# create a session
session = Session(engine)

In [16]:
all_df = pd.read_csv('combined_df.csv')

In [17]:
all_df.columns

Index(['title', 'content_rating', 'budget', 'gross', 'imdb_score',
       'facenumber_in_poster', 'num_critic_for_reviews', 'num_voted_users',
       'num_user_for_reviews', 'movie_facebook_likes',
       'cast_total_facebook_likes', 'actor_1_facebook_likes',
       'actor_2_facebook_likes', 'actor_3_facebook_likes',
       'director_facebook_likes', 'genre', 'actors', 'year',
       'revenue_millions', 'runtime_minutes', 'rating', 'votes'],
      dtype='object')

In [24]:
movies_df = all_df[['title','content_rating','year','runtime_minutes']]
movies_df = movies_df.rename(columns = {'runtime_minutes':'runtime'})
movies_df.head()

                                      title content_rating  year  runtime
0                                    Avatar          PG-13  2009      162
1  Pirates of the Caribbean: At World's End          PG-13  2007      169
2                                   Spectre          PG-13  2015      148
3                     The Dark Knight Rises          PG-13  2012      164
4                               John Carter          PG-13  2012      132

In [18]:
movies_df = all_df.iloc[:,['title','content_rating','year','runtime_minutes']]
movies_df.rename(columns = {'runtime_minutes':'runtime'})
movies_df.head()

TypeError: cannot perform reduce with flexible type