In [1]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import ForeignKey
Base = declarative_base()
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, Column, Integer, String, Float, MetaData
import pandas as pd

In [24]:
# rds_connection_string = "root:Virginis1212@127.0.0.1/moviedata_db"
# engine = create_engine(f'mysql://root:Virginis1212@127.0.0.1/moviedata_db')
connection = engine.connect()
meta = MetaData()

In [4]:
engine = sqlalchemy.create_engine('mysql://root:Virginis1212@127.0.0.1') # connect to server
engine.execute("CREATE DATABASE IF NOT EXISTS moviedata_db") #create db
engine.execute("USE moviedata_db") # select new db

In [5]:
# Need to use declarative base
Base = declarative_base()

In [6]:
#Movie class
class Movie(Base):
    __tablename__ = 'movie'
    id = Column(Integer, primary_key=True, autoincrement = True)
    title = Column(String(100))
    content_rating = Column(String(100))
    year = Column(Integer)
    runtime = Column(Float)

In [44]:
#Financial Class
class Financial(Base):
    __tablename__ = 'financial'
    id = Column(Integer, ForeignKey("movie.id"), primary_key = True, autoincrement = True, nullable=False)
    budget = Column(Float)
    gross = Column(Float)
    profit = Column(Float)

C:\Users\andre\Anaconda3\lib\site-packages\sqlalchemy\ext\declarative\clsregistry.py:120: SAWarning: This declarative base already contains a class with the same class name and module name as __main__.Financial, and will be replaced in the string-lookup table.
  item.__name__

InvalidRequestError: Table 'financial' is already defined for this MetaData instance.  Specify 'extend_existing=True' to redefine options and columns on an existing Table object.

In [8]:
#Review Info
class Reviews(Base):
    __tablename__ = 'reviews'
    id = Column(Integer, ForeignKey("movie.id"), primary_key = True, autoincrement = True, nullable=False)
    imdb_score = Column(Float)
    imdb_reviewers = Column(Integer)
    imdb_voters = Column(Integer)
    imdb_user_reviewers = Column(Integer)
    top_list_rating = Column(Float)
    top_list_votes = Column(Integer)

In [9]:
#Social Media Info
class SocialMedia(Base):
    __tablename__ = 'social_media'
    id = Column(Integer, ForeignKey("movie.id"), primary_key = True,autoincrement = True,  nullable=False)
    movie_likes = Column(Integer)
    director_likes = Column(Integer)
    cast_likes = Column(Integer)
    actor1_likes = Column(Integer)
    actor2_likes = Column(Integer)
    actor3_likes = Column(Integer)

In [10]:
#Social Media Info
class Actor(Base):
    __tablename__ = 'actor'
    id = Column(Integer, primary_key = True, autoincrement = True, nullable=False)
    actor_name = Column(String(100))

In [11]:
#Actor-film Info
class Actor_Movie(Base):
    __tablename__ = 'actor_movie'
    id = Column(Integer, primary_key = True, autoincrement = True, nullable=False)
    actor_id = Column(Integer, ForeignKey("actor.id"), nullable=False)
    movie_id = Column(Integer, ForeignKey("movie.id"), nullable=False)

In [12]:
#Genre Info
class Genre(Base):
    __tablename__ = 'genre'
    id = Column(Integer, primary_key = True, autoincrement = True, nullable=False)
    genre_name = Column(String(100))

In [13]:
#Genre-film Info
class Genre_Movie(Base):
    __tablename__ = 'genre_movie'
    id = Column(Integer, primary_key = True, autoincrement = True, nullable=False)
    genre_id = Column(Integer, ForeignKey("genre.id"), nullable=False)
    movie_id = Column(Integer, ForeignKey("movie.id"), nullable=False)

In [14]:
# This is where we create our tables in the database
Base.metadata.create_all(engine)

In [15]:
# create a session
session = Session(engine)

In [16]:
session.commit()

In [20]:
all_df = pd.read_csv('combined_df.csv')

In [21]:
all_df.columns

Index(['title', 'content_rating', 'budget', 'gross', 'imdb_score',
       'num_critic_for_reviews', 'num_voted_users', 'num_user_for_reviews',
       'movie_facebook_likes', 'cast_total_facebook_likes',
       'actor_1_facebook_likes', 'actor_2_facebook_likes',
       'actor_3_facebook_likes', 'director_facebook_likes', 'genre', 'actors',
       'year', 'runtime_minutes', 'votes', 'metascore'],
      dtype='object')

In [34]:
movies_df = all_df[['title','content_rating','year','runtime_minutes']]
movies_df = movies_df.rename(columns = {'runtime_minutes':'runtime'})
movies_df.head()

                                      title content_rating  year  runtime
0                                    Avatar          PG-13  2009      162
1  Pirates of the Caribbean: At World's End          PG-13  2007      169
2                                   Spectre          PG-13  2015      148
3                     The Dark Knight Rises          PG-13  2012      164
4                               John Carter          PG-13  2012      132

In [35]:
movies_df.to_sql('movie', connection, if_exists = 'append', index = False)

In [36]:
session.commit()

In [37]:
movie_check_df = pd.read_sql('SELECT * FROM movie', connection)

In [38]:
movie_check_df.head()

   id                                     title content_rating  year  runtime
0   1                                    Avatar          PG-13  2009    162.0
1   2  Pirates of the Caribbean: At World's End          PG-13  2007    169.0
2   3                                   Spectre          PG-13  2015    148.0
3   4                     The Dark Knight Rises          PG-13  2012    164.0
4   5                               John Carter          PG-13  2012    132.0

In [39]:
financial_df = all_df[['budget','gross']].copy()
financial_df['profit'] = financial_df['gross'] - financial_df['budget']
financial_df.head()

        budget        gross       profit
0  237000000.0  760505847.0  523505847.0
1  300000000.0  309404152.0    9404152.0
2  245000000.0  200074175.0  -44925825.0
3  250000000.0  448130642.0  198130642.0
4  263700000.0   73058679.0 -190641321.0

In [41]:
financial_df.to_sql('financial', connection, if_exists = 'append', index = False)

IntegrityError: (MySQLdb._exceptions.IntegrityError) (1364, "Field 'id' doesn't have a default value") [SQL: 'INSERT INTO financial (budget, gross, profit) VALUES (%s, %s, %s)'] [parameters: ((237000000.0, 760505847.0, 523505847.0), (300000000.0, 309404152.0, 9404152.0), (245000000.0, 200074175.0, -44925825.0), (250000000.0, 448130642.0, 198130642.0), (263700000.0, 73058679.0, -190641321.0), (258000000.0, 336530303.0, 78530303.0), (258000000.0, 336530303.0, 78530303.0), (260000000.0, 200807262.0, -59192738.0)  ... displaying 10 of 624 total bound parameter sets ...  (3500000.0, 9701559.0, 6201559.0), (6000000.0, 7186670.0, 1186670.0))] (Background on this error at: http://sqlalche.me/e/gkpj)

In [ ]:
session.commit()

In [ ]:
financial_check_df = pd.read_sql('SELECT * FROM financial', connection)

In [ ]:
financial_check_df.head()

In [42]:
review_df = all_df[['imdb_score','num_critic_for_reviews','num_voted_users','num_user_for_reviews','metascore','votes']]
review_df = review_df.rename(columns = {'num_critic_for_reviews':'imdb_reviewers','num_voted_users':'imdb_voters',
                              'num_user_for_reviews':'imdb_user_reviewers','metascore':'top_list_rating',
                              'votes':'top_list_votes'})
review_df.head()

,imdb_score,imdb_reviewers,imdb_voters,imdb_user_reviewers,top_list_rating,top_list_votes
0,7.9,723.0,886204,3054.0,83.0,935408
1,7.1,302.0,471220,1238.0,50.0,498821
2,6.8,602.0,275868,994.0,60.0,308981
3,8.5,813.0,1144337,2701.0,78.0,1222645
4,6.6,462.0,212204,738.0,51.0,220667

In [43]:
review_df.to_sql('reviews', connection, if_exists = 'append', index = False)

IntegrityError: (MySQLdb._exceptions.IntegrityError) (1364, "Field 'id' doesn't have a default value") [SQL: 'INSERT INTO reviews (imdb_score, imdb_reviewers, imdb_voters, imdb_user_reviewers, top_list_rating, top_list_votes) VALUES (%s, %s, %s, %s, %s, %s)'] [parameters: ((7.9, 723.0, 886204, 3054.0, 83.0, 935408), (7.1, 302.0, 471220, 1238.0, 50.0, 498821), (6.8, 602.0, 275868, 994.0, 60.0, 308981), (8.5, 813.0, 1144337, 2701.0, 78.0, 1222645), (6.6, 462.0, 212204, 738.0, 51.0, 220667), (6.2, 392.0, 383056, 1902.0, 59.0, 406219), (6.2, 392.0, 383071, 1902.0, 59.0, 406219), (7.8, 324.0, 294810, 387.0, 71.0, 316459)  ... displaying 10 of 624 total bound parameter sets ...  (7.4, 377.0, 141425, 283.0, 81.0, 151409), (5.4, 285.0, 21468, 164.0, 38.0, 26461))] (Background on this error at: http://sqlalche.me/e/gkpj)

In [ ]:
session.commit()

In [ ]:
social_media_df = all_df[['movie_facebook_likes','director_facebook_likes','cast_total_facebook_likes',
                         'actor_1_facebook_likes','actor_2_facebook_likes','actor_3_facebook_likes']]
social_media_df.columns = ['movie_likes','director_likes','cast_likes','actor1_likes','actor2_likes','actor3_likes']
social_media_df.head()

In [ ]:
social_media_df.to_sql('social_media', connection, if_exists = 'append', index = False)

In [ ]:
session.commit()

In [ ]:
sm_check_df = pd.read_sql('SELECT * FROM social_media', connection)
sm_check_df.head()

In [ ]:
# Make a list of all the actors and their appearance
actor_df = all_df[['actors']]
actor_df = actor_df['actors'].str.split(',',-1,expand = True)
actor_df.head()

In [ ]:
 # To consolidate the lists, we're going to do a trick with value counts ... 
series1 = actor_df.iloc[:,0].value_counts()
series2 = actor_df.iloc[:,1].value_counts()
series3 = actor_df.iloc[:,2].value_counts()
series4 = actor_df.iloc[:,3].value_counts()

In [ ]:
counts_df = pd.DataFrame({'0':series1, '1':series2, '2':series3, '3':series4}).reset_index()

In [ ]:
counts_df.head()

In [ ]:
actor_df = counts_df[['index']]
actor_df.columns = ['actor_name']
actor_df.head()

In [ ]:
actor_df.to_sql('actor', connection, if_exists = 'append', index = False)

In [ ]:
genre_df = all_df[['genre']]
genre_df = genre_df['genre'].str.split(',',-1,expand = True)
genre_df.head()

In [ ]:
 # To consolidate the lists, we're going to do a trick with value counts ... 
series1 = genre_df.iloc[:,0].value_counts()
series2 = genre_df.iloc[:,1].value_counts()
series3 = genre_df.iloc[:,2].value_counts()
count_df = pd.DataFrame({'0':series1, '1':series2, '2':series3}).reset_index()
genre_df = count_df[['index']]
genre_df.columns = ['genre_name']
genre_df.head()

In [ ]:
genre_df.to_sql('genre', connection, if_exists = 'append', index = False)

In [ ]:
# To get the crosswalk between actors and movies, we'll start by regenerrating the actor list
actorlist_df = all_df[['actors']]
actorlist_df = actorlist_df['actors'].str.split(',',-1,expand = True)
actorlist_df = actorlist_df.reset_index()
actorlist_df.columns = ['movie_id','actor_name','1', '2', '3']
actorlist_df.head()

In [ ]:
actor_2merge_df = actor_df.reset_index()
actor_2merge_df = actor_2merge_df.rename(columns = {'index':'id'})
actor_2merge_df.head()

In [ ]:
actorlist_df = actorlist_df.merge(actor_2merge_df,on = 'actor_name', how = 'inner')
actorlist_df.head()

In [ ]:
actorlist_df.columns = ['movie_id','0','actor_name','2','3','id1']
actorlist_df = actorlist_df.merge(actor_2merge_df,on = 'actor_name', how='inner')
actorlist_df.columns = ['movie_id','0','1', 'actor_name','3', 'id1', 'id2']
actorlist_df = actorlist_df.merge(actor_2merge_df,on = 'actor_name', how='inner')
actorlist_df.columns = ['movie_id','0','1', '2', 'actor_name','id1', 'id2', 'id3']
actorlist_df = actorlist_df.merge(actor_2merge_df,on = 'actor_name', how='inner')

In [ ]:
actorlist_df.head()

In [ ]:
actorlist_df = actorlist_df.drop(columns = ['0','1','2','actor_name'])
actorlist_df.head()

In [ ]:
actor_melt_df = pd.melt(actorlist_df,id_vars ='movie_id', value_vars =  ['id1','id2','id3','id'],
                        var_name = 'which_id', value_name = 'actor_id')
actor_melt_df.head()

In [ ]:
actor_movie_df = actor_melt_df[['actor_id']]
actor_movie_df['movie_id'] = actor_melt_df.loc[:,'movie_id']
actor_movie_df.head()

In [ ]:
actor_movie_df.to_sql('actor_movie', connection, if_exists = 'append', index = False)

In [ ]:
# To get the crosswalk between genres and movies, we'll start by regenerrating the genre list
genrelist_df = all_df[['genre']]
genrelist_df = genrelist_df['genre'].str.split(',',-1,expand = True)
genrelist_df = genrelist_df.reset_index()
genrelist_df.columns = ['movie_id','genre_name','1', '2']
genrelist_df.head()

In [ ]:
genre_2merge_df = genre_df.reset_index()
genre_2merge_df = genre_2merge_df.rename(columns = {'index':'id'})
genre_2merge_df.head()

In [ ]:
genrelist_df = genrelist_df.merge(genre_2merge_df,on = 'genre_name', how = 'inner')
genrelist_df.head()

In [ ]:
genrelist_df.columns = ['movie_id','0','genre_name','2','id1']
genrelist_df = genrelist_df.merge(genre_2merge_df,on = 'genre_name', how='inner')
genrelist_df.columns = ['movie_id','0','1', 'genre_name', 'id1', 'id2']
genrelist_df = genrelist_df.merge(genre_2merge_df,on = 'genre_name', how='inner')

In [ ]:
genrelist_df.head()

In [ ]:
genrelist_df = genrelist_df.drop(columns = ['0','1','genre_name'])
genrelist_df.head()

In [ ]:
genre_melt_df = pd.melt(genrelist_df,id_vars ='movie_id', value_vars =  ['id1','id2','id'],
                        var_name = 'which_id', value_name = 'genre_id')
genre_melt_df.head()

In [ ]:
genre_movie_df = genre_melt_df[['genre_id']]
genre_movie_df['movie_id'] = genre_melt_df.loc[:,'movie_id']
genre_movie_df.head()

In [ ]:
genre_movie_df.to_sql('genre_movie', connection, if_exists = 'append', index = False)